/ApiTokenAuth.Helper/bin/Debug
/ApiTokenAuth.Helper/bin/Release
/ApiTokenAuth.Helper/bin
/ApiDemo/bin
/packages
/ClientDemo/bin
/ApiDemo/tokenlog
/ClientDemo/tokenlog
/ClientDemo/obj
/ApiDemo/obj
/ApiTokenAuth.Helper/obj
/ApiTokenAuth.Helper/NuGet.exe
/ApiTokenAuth.Helper/ApiTokenAuth.Helper.1.0.0.0.nupkg
/ApiTokenAuth.Helper/ApiTokenAuth.Helper.csproj.user
/ApiTokenAuth.Helper/ApiTokenAuth.Helper.nuspec
