/ApiTokenAuth.Helper/bin/Debug
/ApiTokenAuth.Helper/bin/Release
/ApiTokenAuth.Helper/bin
/ApiDemo/bin
/packages
/ClientDemo/bin
/ApiDemo/tokenlog
/ClientDemo/tokenlog
/ClientDemo/obj
/ApiDemo/obj
/ApiTokenAuth.Helper/obj
